<header>
    <h1>header</h1>

    <button><a href="/">Home</a></button>
    <button><a href="/login">Login</a></button> <!-- hide button -->
    <button><a href="/register">Register</a></button> <!-- hide button -->
</header>