<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
    <%- include('components/header') %>
    <form action="/register" method="POST">
        <h2>Register</h2>

        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Email">

        <label for="first-name">First name</label>
        <input type="text" name="first-name" id="first-name" placeholder="First name">

        <label for="last-name">Last name</label>
        <input type="text" name="last-name" id="last-name" placeholder="Last name">

        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password">

        <label for="confirm-password">Confirm password</label>
        <input type="password" name="confirm-password" id="confirm-password">
    </form>
    <%- include('components/footer') %>
</body>
</html>