* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}

/********* Header ***********/
header {
    display: flex;
    width: 100%;
    height: 60px;
    background: #0082ea;
}

header nav {
    width: 100%;
    display: inherit;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header nav button {
    border: 1px solid #fff;
    background: none;
    padding: 8px 0;
}

header nav button a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
}

/********* Section ***********/
section {
    display: flex;
    justify-content: center;
    width: 100%;
}

section.threads-panel {
    padding-top: 30px;
}

section.threads-panel .threads,
section.messages-panel .messages{
    width: 80%;
}

section.threads-panel .threads .button-container,
section.messages-panel .messages .button-container {
    display: flex;
}

section.threads-panel .threads .threads-button {
    justify-content: flex-end;
}

section.messages-panel .messages .messages-button {
    justify-content: flex-start;
}

section.threads-panel .threads .threads-button button,
section.threads-panel .thread .delete-button button,
section.messages-panel .messages .messages-button button,
section.messages-panel .message .delete-button button {
    border: 1px solid #0082ea;
    background: none;
    padding: 8px 0;
}

section.threads-panel .threads .threads-button button a,
section.threads-panel .thread .delete-button button a,
section.messages-panel .messages .messages-button button a,
section.messages-panel .message .delete-button button a {
    color: #0082ea;
    text-decoration: none;
    padding: 8px 16px;
}

section.threads-panel .threads .button-container button,
section.messages-panel .messages .button-container button {
    margin: 20px 0;
}

section .threads .thread,
section .messages .message {
    display: flex;
    justify-content: space-between;
    border: 1px solid #000;
    margin-bottom: 20px;
    padding: 10px 20px;
}

section .messages .message .message-info {

}

section .threads .thread h1,
section .messages .message .message-info h2 {
    margin-bottom: 10px;
}

section .threads .thread h1 a {
    color: #222;
    text-decoration: none;
}

section .threads .thread h1 a:hover {
    color: purple;
    text-decoration: underline;
}

section .threads .thread p,
section .messages .message .message-info p {
    margin-bottom: 8px;
}

section .messages .message .message-info p i,
section .threads .thread .thread-info p i {
    margin-left: 8px;
    color: #830b0b;
}

/********* Form ***********/
.form-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.form-container #login-form,
.form-container #register-form,
.form-container #thread-form {
    width: 20%;
    display: inherit;
    flex-direction: column;
}

.form-container #login-form h2,
.form-container #register-form h2,
.form-container #thread-form h2,
.form-container #login-form input,
.form-container #register-form input,
.form-container #thread-form input{
    margin-bottom: 15px;
}

.form-container #login-form input,
.form-container #register-form input,
.form-container #thread-form input {
    padding: 8px;
}

.form-container #login-form label,
.form-container #register-form label,
.form-container #thread-form label {
    margin-bottom: 5px;
}

.form-container #login-form button,
.form-container #register-form button,
.form-container #thread-form button {
    padding: 10px 20px;
}

#new-message-form {
    display: flex;
    margin: 25px 0 40px 0;
}

#new-message-form input {
    width: 50%;
    padding: 0 20px;
}

#new-message-form button {
    width: 60px;
    height: 40px;
}

/********* Footer ***********/
footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    background: #0082ea;
}

footer .container {
    display: inherit;
    align-items: center;
}

footer .container p {
    color: #fff;
}